// Colores
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-danger: #dc3545;

$color-background-primary: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(8, 8, 5, 1) 88%);
$color-background-secondary: rgba(64, 64, 88, 0.23);

$color-font-primary: white;
$color-font-primary-light: rgba(255, 255, 255, 0.7);
$color-font-secondary: black;

$color-btn-primary: #007aff;
$color-btn-secondary: #1862b2;
$color-btn-third: #2660ac;

$color-card-border: rgba(9,9,121,1);
$color-card-btn-hover: #144c95;

$color-notification-bg: rgba(255,255,255,0.21);


// Tipografías
$font-family-base: "Roboto", sans-serif;
$font-family-heading: "Helvetica Neue", sans-serif;