/* You can add global styles to this file, and also import other style files */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-coverflow';
@import 'variables';

body{
  background: $color-background-primary;
  overflow-x: hidden;
}

#main-navbar {
  background: transparent !important;
}

abp-breadcrumb, .content-header-title, .breadcrumb-item, .error-template, .error-details{
  color: $color-font-primary !important;
}

.card{
  margin-bottom: 10.2rem;
}

