/* You can add global styles to this file, and also import other style files */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-coverflow';

body{
  background: radial-gradient(circle, rgba(3,2,52,1) 0%, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 88%);
  overflow-x: hidden;
}

#main-navbar {
  background: transparent !important;
}

abp-breadcrumb, .content-header-title, .breadcrumb-item, .error-template, .error-details{
  color: white !important;
}

:root .lpx-theme-dark {
  --lpx-logo: url('/assets/images/logo/logo-light.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');

}

:root .lpx-theme-light {
  --lpx-logo: url('/assets/images/logo/logo-dark.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}

:root {
  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');
}