@import "../../variables";

.container{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $color-font-primary;
}

.footer_item{
    font-weight: 500;
    font-size: smaller;
    opacity: 0.3;
}