<!-- series-carousel.component.html -->
<div class="series-carousel-container">
  <swiper-container
    loop="true"
    slides-per-view="3"
    centered-slides="true"
    effect="coverflow"
    coverflow-effect-rotate="50"
    coverflow-effect-stretch="0"
    coverflow-effect-depth="50"
    coverflow-effect-modifier="1"
    coverflow-effect-slide-shadows="true"
    navigation="true"
    space-between="30"
    class="mySwiper"
  >
    <swiper-slide *ngFor="let serie of series">
      <div class="serie-card">
        <div class="poster-container">
          <img [src]="serie.poster" [alt]="serie.title" class="serie-poster">
        </div>
        <h3 class="serie-title">{{ serie.title }}</h3>
      </div>
    </swiper-slide>
  </swiper-container>
</div>