<!-- series-carousel.component.html -->
<div class="series-carousel-container">
  <div class="top10_row">
    <p class="top10">Top 10</p>
    <div class="top10_col"><p class="to">Series</p><p>Hoy</p></div>
  </div>
  <swiper-container
    loop="false"
    slides-per-view="3"
    navigation="true"
  >
    <swiper-slide *ngFor="let serie of series">
      <div class="serie-card">
        <p class="serie-position">1</p>
        <div class="poster-container">
          <img [src]="serie.poster" [alt]="serie.title" class="serie-poster">
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>