<div class="container">
  <div class="form ng-trigger ng-trigger-fadeIn">
    <div class="card-body ng-tns-c82153552-2">
      <div class="row ng-tns-c82153552-2">
        <div class="col-12 col-md-3 ng-tns-c82153552-2">
          <ul id="nav-tab" role="tablist" class="nav flex-column nav-pills ng-tns-c82153552-2">
            <li class="nav-item ng-tns-c82153552-2 ng-star-inserted">
              <a class="nav-link ng-tns-c82153552-2 active">{{
                'AbpSettingManagement::Settings' | abpLocalization
              }}</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-9 ng-tns-c82153552-2 ng-star-inserted">
          <div class="tab-content ng-tns-c82153552-2 ng-trigger ng-trigger-fadeIn ng-star-inserted">
            <div class="tab-pane active ng-tns-c82153552-2">
              <h4 class="ng-tns-c82153552-2">
                {{ 'AbpSettingManagement::Settings' | abpLocalization }}
                <hr class="ng-tns-c82153552-2" />
              </h4>
              <form
                class="abp-md-form ng-pristine ng-invalid ng-touched"
                [formGroup]="this.miFormulario"
                (ngSubmit)="onSubmit(miFormulario.value)"
              >
                <div class="mb-3 form-group">
                  <label class="form-label">{{ 'AbpUi::ProfilePicture' | abpLocalization }}</label>
                  <div class="ProfilePictureInput">
                    <input
                      placeholder="https://..."
                      class="form-control ng-untouched ng-pristine ng-invalid"
                      formControlName="profilePictureUrl"
                    />
                    <label class="inputFile">
                      <i class="fas fa-upload"></i>
                      <input
                        type="file"
                        accept="image/png, image/jpeg"
                        style="display: none"
                        formControlName="profilePictureFile"
                        (change)="adjuntarArchivo($event)"
                      />
                    </label>
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label for="confirm-new-password" class="form-label">{{
                    this.receiveEmails
                  }}</label
                  ><input
                    type="checkbox"
                    class="px-2 mx-3 checkbox"
                    formControlName="acceptEmails"
                  />
                </div>
                <div class="form-btns">
                  <button
                    ng-reflect-ng-class="btn btn-primary color-white "
                    class="btn btn-primary color-white p-2"
                    (click)="this.sendTestEmail()"
                  >
                    <i class="fa fa-send m-1"></i>{{ this.sendTestNotification }}
                  </button>
                  <button
                    ng-reflect-ng-class="btn btn-primary color-white"
                    type="submit"
                    class="btn btn-primary color-white p-2 gap-1"
                  >
                    <i class="m-1 fa fa-check"></i>{{ 'AbpUi::Save' | abpLocalization }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
