.title-series{
    padding-bottom: 2rem;
    color: #FFFFFF;

}

.input-series{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 2rem;
    justify-self: center;
    
}

.input-series input{
    width: 20rem;
}

.input-series button{
    width: auto;
    align-self: end;
    background-color: #2685ff;
    color: white;
    padding: 0.4rem;
    border: white;
    border-radius: 0.3rem;
}

/* Contenedor con fondo semitransparente */
.series-container {
    background-color: rgb(255, 255, 255); /* Fondo negro con 70% de opacidad */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin: 20px 0; /* Margen exterior */
  }
  
  /* Estilos para la carta de serie */
  .serie-card {
     border-color:  rgba(9,9,121,1);
    position: relative;
    overflow: hidden;
   
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 500px; /* Altura fija para todas las cartas */
  }
  
  .serie-card:hover {
    transform: scale(1.05); /* Efecto de escala en la carta */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-color:  rgba(9,9,121,1);
  }
  
  /* Imagen del póster */
  .serie-poster {
    width: 100%;
    height: 100%; /* Asegura que la imagen ocupe todo el espacio */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    transition: transform 0.3s ease; /* Transición suave para el zoom */
  }
  
  .serie-card:hover .serie-poster {
    transform: scale(1.1) translateY(-5%); /* Zoom + desplazamiento hacia arriba */
  }
  
  /* Detalles de la serie */
  .serie-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)); /* Degradado más opaco */
    padding: 20px; /* Más espacio para el texto */
    border-radius: 0 0 10px 10px;
  }
  
  .serie-title {
    font-size: 1.5em; /* Título más grande */
    margin: 0;
    color: #FFFFFF;
    font-weight: bold; /* Texto en negrita */
  }
  
  .serie-year {
    font-size: 1.2em; /* Año más grande */
    color: #E5E5E5;
    margin: 5px 0 0;
  }

.card-btn{
  display: flex;
  padding: 0.5rem;
  background-color: #2685ff;
  color: white;
  border-radius: 1rem;
  border: none;
  transition: 0.2s ease-in-out;
}

.card-btn-block{
  display: flex;
  padding: 0.5rem;
  background-color: #b3b6b6;
  color: white;
  border-radius: 1rem;
  border: none;
  transition: 0.2s ease-in-out;
  cursor:default;
}

.card-btn:hover{
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}