/* NO LOGED HOME COMPONENT */

.container{
  height: fit-content;
}

.text_container{
  padding-bottom: 15rem;
}

.title{
  z-index: 100;
  display: flex;                
  align-items: center;
  height: 100%;
  padding-top: 10%;
  font-size: 5rem;
  color: white;
}

.btn-container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.btn{
  padding: 0.5rem 1rem;
  background-color: rgb(47, 47, 177);
  border-radius: 20px;
  color: white;
  margin-top: 0.5rem;
  transition: 0.2s ease-in-out all;
}

.btn:hover{
  transition: 0.2s ease-in-out all;
  transform: scale(1.05);
  animation: gradientAnimation 0.5s forwards;
}

.btn-alt{
  padding: 1rem 0.6rem;
  background-color: transparentize($color: rgb(64, 64, 88), $amount: 0.77);
  border-radius: 0.5rem;
  color: rgb(214, 214, 214);
  transition: 0.2s ease-in-out all;
  border: none;

}

.search{
  width: 85%;
  text-align: start;
}

.search i{
  padding: 0 1rem;
}


.information {
  display: flex;
  font-family: 'HK grotesk', sans-serif;
  font-weight: 400;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  color: rgb(255, 255, 255);
  width: 40%;
  flex-direction: column;
  align-items: self-start;
}

img {
  height: 550px;
  object-fit: cover;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  padding: 10px;
}

.poster {
  position: relative;
  border-right: 1px white solid;
  object-fit:cover;
  width: 284px; 
  height: 660px; 
  box-shadow: inset 25px 10px 71px -31px rgba(0,0,0,0.5);
  }

.poster2 {
    object-fit:cover;
    border-right: 1px white solid;
   width: 141.01px; height: 660px;  position: relative;
  box-shadow: inset 25px 10px 71px -31px rgba(0,0,0,0.5);
}

.poster-cont {  
  z-index: -1;
  border-top: 10px solid;
  border-image:   linear-gradient(180deg, #030614 0%, rgba(3, 6, 20, 0) 100%);
  width:fit-content;
  height: fit-content; 
  position: absolute;
  right: 0;
}


@media (min-width: 1199px) {
  .h-lg-100 {
    height: 100% !important;
  }
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100% !important;
  }
}


/* Keyframes de la animación */
@-webkit-keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}

@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}

@keyframes gradientAnimation {
  0% {  
  background-color: rgb(47, 47, 177);
  }
  100% {
    background: rgb(79, 75, 188);
  }
}

/* Clase de animación */
.scale-up-bl-t {
  width: 100%;  
  font-size: 50px;
  color: rgb(255, 255, 255);
  -webkit-animation: scale-up-bl 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-bl 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-up-bl {
 
  color: rgb(255, 255, 255);
  -webkit-animation: scale-up-bl 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-bl 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.text-focus-in {
  color: white;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
