@import '../../variables';

.series-section {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.container {
  height: fit-content;
}

.text_container {
  padding-bottom: 15rem;
}

.title {
  z-index: 100;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 10%;
  font-size: 5rem;
  color: $color-font-primary;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: $color-btn-primary;
  border-radius: 20px;
  color: $color-font-primary;
  margin-top: 0.5rem;
  transition: 0.2s ease-in-out all;
}

.btn:hover {
  transition: 0.2s ease-in-out all;
  transform: scale(1.05);
  animation: gradientAnimation 0.5s forwards;
}

.information {
  display: flex;
  font-family: 'HK grotesk', sans-serif;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  color: $color-font-primary;
  width: 40%;
  flex-direction: column;
  align-items: self-start;
}

img {
  height: 10rem;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.poster {
  position: relative;
  border-right: 1px $color-font-primary solid;
  object-fit: cover;
  width: 20vw;
  height: 100vh;
}

.poster2 {
  object-fit: cover;
  border-right: 1px $color-font-primary solid;
  width: 10vw;
  height: 100vh;
  position: relative;
}

.poster-cont {
  z-index: -1;
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 0;
  box-shadow: inset $color-font-secondary 0rem 2rem 6rem;
}

@media (min-width: 1199px) {
  .h-lg-100 {
    height: 100% !important;
  }
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100% !important;
  }
}

/* Keyframes de la animación */
@-webkit-keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}

@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-color: $color-btn-primary;
  }
  100% {
    background: $color-btn-secondary;
  }
}

/* Clase de animación */
.scale-up-bl-t {
  width: 100%;
  font-size: 50px;
  color: $color-font-primary;
  -webkit-animation: scale-up-bl 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.scale-up-bl {
  color: $color-font-primary;
  -webkit-animation: scale-up-bl 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.text-focus-in {
  color: $color-font-primary;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
