@import "../../../variables";

.container{
    min-height: 80vh;
    max-height: fit-content;
}

.api-management{
    color: $color-font-primary;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;

}

.api-title{
    display: flex;
    flex-direction: row;
}

.content-header-title{
    padding-right: 1rem;
}

#myChart{
    background-color: $color-font-primary;
}

.estadisticas-api{
    color: $color-font-primary;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1rem;
    background-color: $color-font-primary;
    border-radius: 0.5rem;
    align-items: center;

    box-shadow: inset 0.8rem 1rem 2rem $color-font-secondary,
                inset -1rem -1rem 2rem $color-font-secondary;
}

.estadisticas-app{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
}


@media (max-width: 768px) {

    .api-management{
        flex-direction: column;
    }

    .estadisticas-api{
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    .estadisticas-app{
        padding: 1rem;
    }

    .estadisticas-app div h4{
        font-size: 1rem;
    }
}