<div class="container">
  <div class="api-title">
    <div class="row-auto ng-star-inserted"><h1 class="content-header-title">{{this.statsLabel}}
    </h1></div>
    <div class="col-lg-auto ps-lg-0 ng-star-inserted">
      <div>
        <div>
          <ol class="breadcrumb ng-star-inserted">
            <li class="breadcrumb-item">
              <a routerlink="/" ng-reflect-router-link="/" href="/"
                ><i aria-hidden="true" class="fa fa-home"></i
              ></a>
            </li>
            <li aria-current="page" class="breadcrumb-item ng-star-inserted">{{this.apiStatistics}}</li>
            <li aria-current="page" class="breadcrumb-item active ng-star-inserted">
              {{this.statsLabel}}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="api-management">
    <div class="estadisticas-api">
      <canvas id="myChart" [style.display]="load ? 'block' : 'none'"></canvas>
          <div *ngIf="!this.load" class="loading-spinner align-center justify-center flex ">
      <i class="fa fa-spinner fa-spin text-white self-center"></i>
    </div>
    </div>



    <div class="estadisticas-app">
      <div>
        <div>
          <h4>{{this.totalErrorsLabel}}{{ error }}</h4>
        </div>
      </div>
      <div>
        <h4>{{this.totalUsersLabel}}{{ totalUsers }}</h4>
      </div>
      <div>
        <h4>{{this.responseTimeLabel}} {{ executionDuration }} ms</h4>
      </div>
    </div>
  </div>
</div>
